*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(241, 241, 241);
}
header{
    width: 100%;
    padding: 30px 0px;
    background-color: rgb(32, 243, 225);
    font-family: 'kanit';
}
header h2{
    float: left;
    margin-left: 20px;
}
nav{
    float: right;
    margin-right: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
}
#banner{
    width: 90%;
    height: 300px;
    background-image:url(../images/img3.jpg) ;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 300px;
    text-align: center;
    color: white;
}

footer{
    position: absolute;
    bottom: 0%;
}

.produto{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    background-color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

#catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produto img{
    width: 100%;
}